* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    padding: 20px;
    box-shadow: 0 1px black;
}

:root {
    --primary-color: #331436;
    --font-size: 16px;
    --secondary-color: #cb4f57;
    --accent-color: #fcf4b6;
}

html {
    font-size: var(--font-size);
}

.btn {
    display: block;
    width: 240px;
    height: 48px;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
}

.btn--accent {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}
