@import url(base.css);

/*section 1*/
.section1 {
    background-color: #7a1745;
    width: 100%;
    height: 496px;
    display: flex;
    align-items: center;
    padding: 30px 170px;
}

.section1 img {
    /* padding: 30px 170px; */
}

.section1__article {
    width: 500px;
    height: 216;
    margin-left: 170px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__article h1 {
    font-size: 2.5rem;
    white-space: nowrap;
    margin-bottom: 24px;
    color: #ffffff;
}

.section1__article span {
    color: var(--accent-color);
}

.section1__article p {
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
}

/*section 2*/
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.section2 .btn {
    margin-top: 24px;
}
.section2__text {
    width: 1100px;
    height: 192px;
    align-items: start;
}

.section2__text h1 {
    font-size: 2.5rem;
    font-weight: 400px;
    padding-bottom: 24px;
}

.section2__text p {
    font-size: 1rem;
    line-height: 24px;
}

.section2__cards ul {
    display: flex;
    margin-top: 60px;
}

.section2__cards li {
    padding: 20px;
}

.section2__card h4 {
    font-size: 1rem;
    line-height: 24px;
    color: var(--primary-color);
    opacity: 100%;
    font-weight: 350;
    margin-left: 5px;
}

.section2__card h5 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
    opacity: 100%;
    margin-left: 5px;
}

.section2__card:hover {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

/*section 3*/

.section3 {
    width: 100%;
    height: 552px;
    background-color: var(--accent-color);
    text-align: center;
}

.section3__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3__text h1 {
    padding-top: 60px;
    font-size: 2.5rem;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 24px;
    color: var(--primary-color);
}

.section3__text p {
    font-size: 1rem;
    line-height: 24px;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.section3__icons ul {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

.section3__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3__icon > div {
    background-color: var(--primary-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.section3__icon > div:hover {
    background: #5f2364;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.section3__icon img {
    width: 48px;
    height: 48px;
    margin: 25px 20px;
}

.section3__icon h4 {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: 400;
    color: var(--primary-color);
}

/*section 4*/

.section4 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section4__text {
    margin-right: 60px;
    width: 520px;
}

.section4__text h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: var(--primary-color);
    line-height: 48px;
}

.section4__text p {
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 24px;
}

.section4__form {
    width: 520px;
    display: flex;
    flex-direction: column;
}

.section4__form__email,
.section4__form__name {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.section4__form__email label,
.section4__form__name {
    font-size: 0.87rem;
    color: var(--primary-color);
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section4__form__email article {
    font-size: 0.75rem;
    color: #8e8c8c;
}

.section4__form button {
    margin-top: 40px;
}
